
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<ASPLabs2_4.Models.Category>

<h2>Категория</h2>

@Html.ActionLink("Добавить новую категорию", "Add")
<table>
    <tr style="border-bottom: 2px solid gray;">
        <td><p>Название</p></td>
    </tr>
    @foreach (var b in Model)
    {
        <tr>
            <td><p>@b.Name</p></td>
            <td><p><a href="/Category/Info/@b.Id">Детали</a></p></td>
            <td><p><a href="/Category/Editor/@b.Id">Изменить</a></p></td>
            <td><p><a href="/Category/Delete/@b.Id">Удалить</a></p></td>
        </tr>
    }
</table>
