
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ASPLabs2_4.Models.Purchase

<h2>Информация о покупке №@Model.PurchaseId</h2>
<div>
    @Html.DisplayForModel()
</div>
