
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ASPLabs2_4.Models.Category

<h2>Добавление категории</h2>
<div>
    @using (Html.BeginForm("Add", "Category", FormMethod.Post))
    {
        <p>Введите название</p>
        @Html.EditorFor(a => a.Name)
        @Html.ValidationMessageFor(a => a.Name)
        <br>
        <br>
        <input type="submit" value="Добавить">
    }
    <br>
    @Html.ActionLink("Вернуться назад", "Back")
</div>

