
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ASPLabs2_4.Models.Electronic

<h2>Информация о электроники №@Model.Id</h2>
<div>
    @Html.DisplayForModel()
</div>

